body{
    background-color: blueviolet;
    border-style: outset;
    text-align: center;
    border-color: hwb(0 1% 2%);
}
h1{
    color:aqua;
    font-family: cursive;
    background-color: blue;
}
h5{
    color:bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
 
}
